<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Notas</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Lista de Notas</h1>
    <form th:action="@{/list-notes}" method="get">
        <input type="text" name="keyword" th:value="${keyword}" placeholder="Buscar por título"/>
        <button type="submit">Filtrar</button>
    </form><br><br>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Categoría</th>
                <th>Título</th>
                <th>Contenido</th>
                <th>Fecha</th>
                <th>Fecha Actualizada</th>
                <th>Borrar</th>
                <th>Editar</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="note : ${notes}">

                <td th:text="${note.id}"></td>
                <td th:text="${note.category?.nombre} ?: 'Sin Categoría'" style="font-style: italic; color: #555;"></td> <!--añadimos el campo de categoria-->
                <td th:text="${note.title}"></td>
                <td th:text="${note.content}"></td>
                <td th:text="${note.date}"></td>
                <td th:text="${note.getUpdatedAt()}"></td>
                <td ><button th:onclick="|window.location.href='/edit-note/${note.id}'|">Editar</button></td>
                <td ><button th:onclick="|window.location.href='/delete-note/${note.id}'|">Borrar</button></td>
            </tr>
        </tbody>
    </table>
    <p th:text="'Total de notas: ' + ${#lists.size(notes)}"></p>
    <p><a th:href="@{/menu}">Volver al menú</a></p>
</body>
</html>
